extends ./layout/index

block contenido 
  .slider 
    h1 Rio de Janeiro 
    | en aventura 

  main.container.mt-5 
    h2.text-center.mb-5 Sobre Nosotros
    .row.mb-5 
      .col-md-6 
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam non rem debitis soluta nisi recusandae cupiditate sit. Nesciunt dignissimos, nisi non, veritatis, sapiente dicta dolor odit ut quae eaque a!  recusandae exercitationem fugiat! veritatis, sapiente dicta dolor odit ut quae eaque a!  recusandae exercitationem fugiat!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, eum quia libero rerum assumenda molestias illo culpa saepe temporibus blanditiis iure at eius delectus quas necessitatibus beatae, recusandae exercitationem fugiat!  recusandae exercitationem fugiat! veritatis, sapiente dicta dolor odit ut quae eaque a!  recusandae exercitationem fugiat!
      .col-md-6 
         img(src="/materiales/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

    include ./layout/bloque_viajes

  .descuento
     .container
        .row
           .col-md-6
              .contenido
                 h3 5% de Descuento
                 p.titulo Viaje a Canadá
                 p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                 p.precio $2,500 USD

  .container
    h2.mt-5.text-center Testimonios
    include ./layout/bloque_testimonios 

