


extends ./layout/index

block contenido 
      main.container.mt-5 
            .row 
                  .col-md-5
                        img(src="materiales/img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
                  .col-md-7 
                        h1 #{pagina} 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et risus at nisi dignissim rhoncus ut et enim. Nulla rutrum ut dui non pellentesque. Morbi semper lorem ut porta mollis. Sed non eros ipsum. Praesent molestie mi a accumsan porta. Pellentesque congue massa ac vestibulum pretium. Donec sed nunc eget elit varius sollicitudin ac vitae nisl. Maecenas sem felis, consequat non rhoncus eget, condimentum nec urna.
                        Vivamus gravida accumsan nibh. Nunc egestas quam id elementum lacinia. Fusce dolor enim, gravida non augue eget, consequat sollicitudin nunc. Pellentesque consequat odio ipsum. Sed pellentesque velit urna, vitae imperdiet erat faucibus in. Nam vulputate iaculis lorem, ac fermentum lacus. Donec vitae scelerisque orci, et blandit dolor. Donec porta libero at luctus venenatis. Ut interdum placerat suscipit. Etiam turpis mauris, tincidunt non massa vel, tempor placerat dui. Sed diam lacus, tincidunt in est sit amet, iaculis mollis magna.

                        vitae mollis nunc. Duis urna dui, euismod non molestie convallis, malesuada a mauris. Sed et mollis quam, quis commodo nisl. Maecenas gravida bibendum leo id facilisis. Cras hendrerit dictum risus ac sollicitudin. Vivamus non pellentesque diam, ac molestie dolor. Nulla tortor tellus, auctor et magna ac, scelerisque ultrices enim. Aliquam ultrices ut sem et elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sed odio sodales neque laoreet egestas. Curabitur sit amet ligula eleifend, sollicitudin lacus ut, cursus ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec porttitor condimentum ante, at suscipit quam ullamcorper a. Morbi quis sollicitudin ante, ut consequat arcu.
      
      .listado-iconos 
            .container.mt-5.py-5.text-center 
                  .row 
                        .col-md-4
                              img(src="materiales/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                              h2.mb-4 Seguridad 
                              p ipsum dolor sit amet consectetur adipisicing elit. Nam, alias. Explicabo rerum earum error voluptatum rem. Voluptatum ad sapiente unde omnis. Aperiam, necessitatibus laboriosam impedit voluptas similique pariatur tenetur accusamus.

                        .col-md-4
                              img(src="materiales/img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                              h2.mb-4 Seguridad 
                              p ipsum dolor sit amet consectetur adipisicing elit. Nam, alias. Explicabo rerum earum error voluptatum rem. Voluptatum ad sapiente unde omnis. Aperiam, necessitatibus laboriosam impedit voluptas similique pariatur tenetur accusamus.
                        
                        .col-md-4
                              img(src="materiales/img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                              h2.mb-4 Seguridad 
                              p ipsum dolor sit amet consectetur adipisicing elit. Nam, alias. Explicabo rerum earum error voluptatum rem. Voluptatum ad sapiente unde omnis. Aperiam, necessitatibus laboriosam impedit voluptas similique pariatur tenetur accusamus.
